.head-container {
    background-color: #5d04d9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.logo-img{
    width: 8rem;
    height: 2.5rem;
}

.main{
    display: flex;
    background-color: #ffffff;
    padding: 2rem;
}
  
